<head></head>
<body>
<div>
  <section class="navbar">
    <button mat-button [matMenuTriggerFor]="menu">Choose Search Category</button>

    <mat-menu class="navbar" #menu="matMenu">
      <button (click)="clickPeople()" mat-menu-item>People</button>
      <button (click)="clickFilms()" mat-menu-item>Films</button>
      <button (click)="clickShips()" mat-menu-item>Star Ships</button>
      <button (click)="clickPlanets()" mat-menu-item>Planets</button>
    </mat-menu>
  </section>


  <section class="title">
    <h2 class="th2">Star Wars API Search</h2>
    <p class="tp">
      Pick a category to search from, and enter a name of a character, star ship, or film, then give it a go!
    </p>
  </section>


  <section class="search">
    <form [formGroup]="swapiSearch" (ngSubmit)="searchInfo()" >
      <mat-form-field class="inputs">
        <input matInput formControlName="userSearch" placeholder="Search here" required>
      </mat-form-field>
      

      <!-- (click)="fetchData()"   -->
      <button 
        
        mat-raised-button 
        color="primary"
        class="inputs"
        >
        Search the API
      </button>
        
      <!-- <mat-form-field class="inputs">
        <mat-select 
          formControlName="category"
          placeholder="Choose Category"
          required>
            <mat-option value="people">People</mat-option>
            <mat-option value="films">Films</mat-option>
            <mat-option value="starships">Star Ships</mat-option>
        </mat-select>
      </mat-form-field> -->
    </form>
  </section>


  <section class="fetch-data">
      <!-- <div *ngIf="articles.length !== 0; else trySearch"> -->

          <!-- Now onto the ngIf(specific category is selected) {ngFor loop through the data } -->
    
          <!-- People Category -->
          <div *ngIf="category == 'people'">
              <div *ngFor="let article of articles" class="card">
                  <h2>Results:</h2>
                  <br/>
                  <!-- Data goes here -->
                  <h3>Name: {{ article.name }}</h3>
                  <ul>
                    <li>Height: {{articleheight}}</li>
                    <li>Mass: {{article.mass}}</li>
                    <li>Hair color: {{articlehair_color}}</li>
                    <li>Skin color: {{article.skin_color}}</li>
                    <li>Eye color: {{article.eye_color}}</li>
                    <li>Gender: {{article.gender}}</li>
                  </ul>
              </div>
          </div>
    
          <!-- People Category -->
          <div *ngIf="category == 'starships'">
              <div *ngFor="let article of articles" class="card">
                  <h2>Results:</h2>
                  <br/>
                  <!-- Data goes here -->
                  <h3>Name: {{article.name}}</h3>
                  <ul>
                    <li>Model: {{article.model}}</li>
                    <li>Manufacturer: {{article.manufacturer</li>
                    <li>Starship Class: {{article.starship_class}}</li>
                  </ul>
                  
              </div>
          </div>
    
          <!-- People Category -->
          <div *ngIf="category == 'films'">
              <div *ngFor="let article of articles" class="card">
                  <h2>Results:</h2>
                  <br/>
                  <!-- Data goes here -->
                  <h3>Title: {{article.title}}</h3>
                  <ul>
                    <li>Episode: {{article.episode_id}}</li>
                    <li>Director: {{article.director}}</li>
                    <li>Producer: {{article.producer}}</li>
                  </ul>
                  <h5>Opening Crawl</h5>
                  <p>{{article.opening_crawl}}</p>
              </div>
          </div>

                  <!-- Planets Category -->
                  <div *ngIf="category == 'planets'">
                    <div *ngFor="let article of articles" class="card">
                        <h2>Results:</h2>
                        <br/>
                        <!-- Data goes here -->
                        <h3>Name: {{article.name}}</h3>
                        <ul>
                          <li>Diameter: {{article.diameter}}</li>
                          <li>Gravity: {{article.gravity}}</li>
                          <li>Population: {{article.population}}</li>
                          <li>Climate: {{article.climate}}</li>
                          <li>Terrain: {{article.terrain}}</li>
                        </ul>
                    </div>
                </div>
    
        <!-- </div> -->
  </section>



  <!-- <ng-template #trySearch>
    <p>Click menu and select a category, then search something!</p>
  </ng-template> -->
</div>
</body>