*  { margin: none; padding: none;}
h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}



/*********************
* Nav Section!
*********************/
.navbar { 
    background-color: rgb(189, 207, 255);
    width: 100%;
    padding: 1rem;

}



/*********************
* Title Section!
*********************/
.title {
    text-align: center;
    background-color: #3F51B5;
    padding: 2rem;

}

.th2 {
    margin: none;
    padding-top: 1rem;
    padding-bottom: .25rem;
}

.tp {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
}


/*********************
* Search Section!
*********************/
.search {
    padding: 1rem;
    width: 100%;

}
.inputs {
    margin: 2rem;
    width: 40%;
}



/*********************
* Fetch Data Section!
*********************/
.card {
    margin: 2rem;
    border-width: 1px;
    border: 1px solid;
    padding: 1rem;
}